@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted black; */
}

body {
  background-color: #fdfdff;
}


/* #region :::: HEADER :::: */

/* #endregion :::: HEADER :::: */

/* #region :::: MAIN :::: */

/* Table style */
.table-auto {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.table-auto tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.table-auto thead tr {
  border-bottom: 1px solid #2e2e2e;
}

.table-auto th,
.table-auto td {
  padding: 12px 0px;
}

.table-auto th {
  font-weight: bold;
}

button:hover {
  a {
    color: #fdfdff;
  }
}

/* Pagination style */
.table-pagination {
  margin-top: 3rem;
}

.table-pagination a {
  text-decoration: none;
  color: #fdfdff;
}

.table-pagination a:hover {
  text-decoration: underline;
}

.table-pagination span {
  font-weight: bold;
}

/* #endregion :::: MAIN :::: */